# Python & System
__pycache__/
*.py[cod]
.DS_Store
venv/
.env

# Data & Models (Big Files)
data/
models/weights/
models/rl_agents/*.zip
!models/rl_agents/final_ppo_agent.zip  # Keep only the final agent
outputs/
*.mp4
*.xml
